<!-- @Head section -->
<head th:fragment="head" xmlns:th="http://www.thymeleaf.org">

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Icon -->
    <link rel="icon" th:href="@{/images/FS.png}" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" th:href="@{/css/all.min.css}" />

    <!-- Style CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}" />

    <!-- Date time CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap-datepicker.min.css}" />

    <!-- Fancy box CSS -->
    <link rel="stylesheet" th:href="@{/css/jquery.fancybox.min.css}" />

    <!-- Fancy box CSS -->
    <link rel="stylesheet" th:href="@{/css/sweetalert2.min.css}" />

    <title th:include=":: #pageTitle">Generic Title</title>

</head>
