<!-- @Javascript includes -->
<th:block th:fragment="javascript" xmlns:th="http://www.thymeleaf.org">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/tooltip.min.js}"></script>
    <script th:src="@{/js/all.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/moment.js}"></script>
    <script th:src="@{/js/bootstrap-datepicker.js}"></script>
    <script th:src="@{/js/jquery.fancybox.js}"></script>
    <script th:src="@{/js/ckeditor.js}"></script>
    <script th:src="@{/js/custom.js}"></script>

</th:block>
