<!-- @Navbar section -->
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <a class="navbar-brand" th:href="@{/}">
        <img th:src="@{/images/logo.png}" width="30" style="border-radius: 100%;" height="30" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}"><i class="fas fa-home"></i> Acceuil <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/users(type='professors')}"><i class="fas fa-chalkboard-teacher"></i> Professeurs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/users(type='etudiants')}"><i class="fas fa-user-graduate"></i> Étudiants</a>
            </li>

            <th:block sec:authorize="isAnonymous()">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}"><i class="fas fa-sign-in-alt"></i> Se connecter</a>
                </li>
            </th:block>
            <th:block sec:authorize="isAuthenticated()">
                <li class="nav-item">
                    <form id="disconnect" th:method="POST" th:action="@{/logout}">
                        <a class="nav-link" onclick="document.getElementById('disconnect').submit();" style="cursor: pointer"><i class="fas fa-sign-out-alt"></i> Se déconnecter</a>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/profile}"
                       th:utext="'<i class=\'far fa-user\'></i> ' + ${user.username}"></a>
                </li>
            </th:block>
        </ul>
        <form th:method="GET" th:action="@{/users}" class="form-inline my-2 my-lg-0">
            <select name="type" class="form-control mr-sm-2">
                <option disabled="true">-- Selectionner le type d'utilisateur --</option>
                <option th:selected="${type != null && type == 'professors' ? 'selected' : ''}" value="professors">Professeurs</option>
                <option th:selected="${type != null && type == 'students' ? 'selected' : ''}" value="students">Étudiants</option>
            </select>
            <input class="form-control mr-sm-2" type="search" th:value="${user_search != null ? user_search : ''}" name="user-search" placeholder="Chercher un utilisateur..."
                   aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i> Rechercher</button>
        </form>
    </div>
</nav>
