<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="sidebar">
    <!-- Search Widget -->
    <div class="card my-4  shadow rounded">
        <h5 class="card-header">Recherche</h5>
        <div class="card-body">
            <form method="GET" th:action="@{/}">
                <div class="input-group">
                    <input th:value="${search != null ? search : ''}" type="search" name="archive-search"
                           class="form-control shadow-sm rounded" placeholder="Chercher un archive...">
                    <span class="input-group-btn">
                <button class="btn btn-secondary  shadow-sm rounded" type="submit"><i class="fab fa-searchengin"></i> Chercher!</button>
              </span>
                </div>
            </form>
        </div>
    </div>


    <!-- Side Widget -->
    <div class="card my-4  shadow rounded">
        <h5 class="card-header">Les plus visités</h5>
        <div class="list-group">
            <th:block th:each="archive : ${trendingArchives.content}">
                <a th:href="@{'/archives/' + ${archive.id}}">
                    <button type="button" class="list-group-item list-group-item-action"
                            th:utext="${archive.title}">
                    </button>
                </a>
            </th:block>
        </div>
    </div>
</th:block>

</body>
</html>
