<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- @head include section -->
<head th:include="/layouts/header :: head">

    <!-- @Title part -->
    <title id="pageTitle" th:text="'Archive : ' + ${archive.title}">Archive</title>

</head>
<!-- @Body section -->
<body>

<!-- @Navbar section -->
<th:block th:replace="~{/layouts/navbar :: navbar}"/>


<!-- @Content section -->
<div class="col-sm-12 col-md-9 col-lg-9 col-xl-9 ml-auto mr-auto"
     th:insert="~{/layouts/messages :: messages}"></div>

<!-- @Container section -->
<!-- Page Content -->
<div class="container">

    <div class="row mb-5">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
            <h1 class="mt-4" th:text="${archive.title}">Post Title</h1>

            <!-- Author -->
            <p class="lead">
                Publié par
                <a th:href="@{'/profiles/' + ${archive.publisher.id}}" th:text="${archive.publisher.fullName}"></a>
            </p>

            <hr>

            <!-- Date/Time -->
            <p th:text="${'Publié le ' + publishDate + ' à ' + #dates.format(archive.publishDate, 'HH:mm:ss')}"></p>

            <hr>

            <!-- Preview Image -->
            <a th:data-fancybox="'/uploads/archives/images/' + ${archive.image}"
               th:href="'/uploads/archives/images/' + ${archive.image}">
                <img class="img-fluid rounded" th:src="'/uploads/archives/images/' + ${archive.image}" width="900"
                     height="300" alt="">
            </a>
            <hr>

            <!-- Post Content -->
            <p th:utext="${archive.content}"></p>

            <hr class="mb-5">

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
                    </div>
                </div>
            </div>

            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Categories</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">Web Design</a>
                                </li>
                                <li>
                                    <a href="#">HTML</a>
                                </li>
                                <li>
                                    <a href="#">Freebies</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">JavaScript</a>
                                </li>
                                <li>
                                    <a href="#">CSS</a>
                                </li>
                                <li>
                                    <a href="#">Tutorials</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Side Widget</h5>
                <div class="card-body">
                    You can put anything you want inside of these side widgets. They are easy to use, and feature the
                    new Bootstrap 4 card containers!
                </div>
            </div>

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->


<!-- @Footer include section -->
<th:block th:replace="~{/layouts/footer :: footer}"/>

<!-- @Javascript include section -->
<div th:replace="~{/layouts/js :: javascript}"></div>

</body>
</html>
