<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- @head include section -->
<head th:include="/layouts/header :: head">

    <!-- @Title part -->
    <title id="pageTitle" th:text="'Archive : ' + ${archive.title}">Archive</title>

</head>
<!-- @Body section -->
<body>

<!-- @Navbar section -->
<th:block th:replace="~{/layouts/navbar :: navbar}"/>


<!-- @Content section -->
<div class="col-sm-12 col-md-9 col-lg-9 col-xl-9 ml-auto mr-auto"
     th:insert="~{/layouts/messages :: messages}"></div>

<!-- @Container section -->
<!-- Page Content -->
<div class="container-fluid">

    <div class="row mb-5 shadow p-3 mb-5 bg-white rounded">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
            <h1 class="mt-4" th:text="${archive.title}">Post Title</h1>

            <!-- Author -->
            <p class="lead">
                Publié par
                <a th:href="@{'/profiles/' + ${archive.publisher.id}}" th:text="${archive.publisher.fullName}"></a>
            </p>

            <hr>

            <!-- Date/Time -->
            <p th:text="${'Publié le ' + publishDate + ' à ' + #dates.format(archive.publishDate, 'HH:mm:ss')}"></p>

            <hr>

            <!-- Preview Image -->
            <a th:data-fancybox="'/uploads/archives/images/' + ${archive.image}"
               th:href="'/uploads/archives/images/' + ${archive.image}">
                <img class="img-fluid rounded" th:src="'/uploads/archives/images/' + ${archive.image}" width="900"
                     height="300" alt="">
            </a>
            <hr>

            <!-- Post Content -->
            <p th:utext="${archive.content}"></p>

            <hr class="mb-5">

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4 " th:insert="~{/layouts/sidebar :: sidebar}">

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->


<!-- @Footer include section -->
<th:block th:replace="~{/layouts/footer :: footer}"/>

<!-- @Javascript include section -->
<div th:replace="~{/layouts/js :: javascript}"></div>

</body>
</html>
