<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- @head include section -->
<head th:include="/layouts/header :: head">

    <!-- Ckeditor CSS -->
    <link rel="stylesheet" th:href="@{/css/sample.css}"/>

    <!-- @Title part -->
    <title id="pageTitle">Archive</title>
</head>
<!-- @Body section -->
<body>

<!-- @Navbar section -->
<th:block th:replace="~{/layouts/navbar :: navbar}"/>


<!-- @Content section -->
<div class="container">

    <div class="row m-y-2 mt-2">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center ml-auto mr-auto">

            <h1 class="display-4">Display 4</h1>

            <form>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                           placeholder="name@example.com">
                </div>
                <div class="form-group">
                    <label for="editor">Example textarea</label>
                    <textarea name="content" id="editor">
                        &lt;p&gt;Here goes the initial content of the editor.&lt;/p&gt;
                    </textarea>
                </div>
            </form>

        </div>
    </div>


</div>

<!-- @Javascript include section -->
<div th:replace="~{/layouts/js :: javascript}"></div>
<script>
    $(document).ready(() => {
        ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .then( editor => {
                console.log( editor );
            } )
            .catch( error => {
                console.error( error );
            } );
    });

</script>

<!-- Auto open modal for error display -->
<th:block th:if="${openUserModal != null}">
    <script>
        $(document).ready(() => {
            $("#profile-modal").modal("show");
        });
    </script>

</th:block>

</body>
</html>
