<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- @head include section -->
<head th:include="layouts/header :: head">

    <!-- @Title part -->
    <title id="pageTitle">Acceuil</title>

</head>
<!-- @Body section -->
<body>

<!-- @Navbar section -->
<th:block th:replace="~{layouts/navbar :: navbar}"/>


<!-- @Content section -->
<div class="col-sm-12 col-md-9 col-lg-9 col-xl-9 ml-auto mr-auto"
     th:insert="~{layouts/messages :: messages}"></div>

<!-- @Container section -->
<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">

            <h1 class="my-4 text-center">Liste des archives enregistrés</h1>

            <h1 class="my-4 text-center">
                <small th:if="${professor == null}"><i class="fas fa-file-archive"></i> Archives universitaires</small>
                <small th:if="${professor != null}"><i class="fas fa-file-archive"></i> <span
                        th:text="${'Archives universitaires publiés par ' + professor.fullName}"></span>, <a
                        th:href="@{'/users/' + ${professor.id}}">Visiter le profil</a></small>
            </h1>

            <!-- Blog Post -->
            <div class="card mb-4" th:each="archive : ${archives.content}">
                <a th:data-fancybox="'/uploads/archives/images/' + ${archive.image}"
                   th:href="'/uploads/archives/images/' + ${archive.image}">
                    <img class="card-img-top" th:src="'/uploads/archives/images/' + ${archive.image}" height="300"
                         width="700" alt="Card image cap">
                </a>
                <div class="card-body shadow-sm rounded">
                    <h2 class="card-title" th:text="${archive.title}"></h2>
                    <p class="card-text"></p>
                    <a th:href="@{'/archives/' + ${archive.id}}" class="btn btn-primary"><i
                            class="fas fa-angle-double-right"></i> Lire&rarr;</a>
                </div>
                <div class="card-footer text-muted shadow-sm rounded"
                     th:text="${#dates.format(archive.publishDate, 'yyyy-MM-dd HH:mm:ss')}">
                </div>
            </div>

            <div th:if="${archives == null || archives.totalElements == 0}"
                 class="alert alert-warning text-center font-weight-bold">
                <i class="fas fa-exclamation-triangle"></i> Aucun archive n'a été trouvé!
            </div>


            <nav aria-label="Page navigation" th:if="${archives.totalPages > 1}">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:if="${archives.hasPrevious()}">
                        <a class="page-link"
                           th:href="@{/(page=${archives.number - 1}, archive-search=${search != null ? search : ''}, professor=${professor != null ? professor.id : ''})}">&larr;Precédent</a>
                    </li>
                    <li class="page-item disabled" th:if="${!archives.hasPrevious()}">
                        <a class="page-link" href="#">&larr;Precédent</a>
                    </li>

                    <li class="page-item" th:if="${archives.hasNext()}">
                        <a class="page-link"
                           th:href="@{/(page=${archives.number + 1}, archive-search=${search != null ? search : ''}, professor=${professor != null ? professor.id : ''})}">Suivant&rarr;</a>
                    </li>
                    <li class="page-item disabled" th:if="${!archives.hasNext()}">
                        <a class="page-link" href="#">Suivant&rarr;</a>
                    </li>
                </ul>
            </nav>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4" th:insert="~{layouts/sidebar :: sidebar}">

        </div>

    </div>
    <!-- /.row -->

</div>


<!-- @Footer include section -->
<th:block th:replace="~{layouts/footer :: footer}"/>

<!-- @Javascript include section -->
<div th:replace="~{layouts/js :: javascript}"></div>

</body>
</html>
