<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- @head include section -->
<head th:include="/layouts/header :: head">

    <!-- @Title part -->
    <title id="pageTitle">Archive</title>
</head>
<!-- @Body section -->
<body>


<style>
    /*
    *
    * ==========================================
    * CUSTOM UTIL CLASSES
    * ==========================================
    *
    */

    .file-upload input[type='file'] {
        display: none;
    }

    .rounded-lg {
        border-radius: 1rem;
    }

    .custom-file-label.rounded-pill {
        border-radius: 50rem;
    }

    .custom-file-label.rounded-pill::after {
        border-radius: 0 50rem 50rem 0;
    }

    /* With arrow tabs */

    .with-arrow .nav-link.active {
        position: relative;
    }

    .with-arrow .nav-link.active::after {
        content: '';
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #2b90d9;
        position: absolute;
        bottom: -6px;
        left: 50%;
        transform: translateX(-50%);
        display: block;
    }

    /* lined tabs */

    .lined .nav-link {
        border: none;
        border-bottom: 3px solid transparent;
    }

    .lined .nav-link:hover {
        border: none;
        border-bottom: 3px solid transparent;
    }

    .lined .nav-link.active {
        background: none;
        color: #555;
        border-color: #2b90d9;
    }


    .nav-item .nav-link {
        color: #555;
    }

    .text-uppercase {
        letter-spacing: 0.1em;
    }
</style>


<!-- @Navbar section -->
<th:block th:replace="~{/layouts/navbar :: navbar}"/>


<!-- @Content section -->
<div class="container-fluid">

    <div class="row m-y-2 mt-2">


        <!-- Picture section -->
        <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 text-center ml-auto mr-auto">
            <a th:data-fancybox="${user.fullName}" th:href="${'/uploads/users/images/' + user.picture }">
                <img th:src="${'/uploads/users/images/' + user.picture }" height="150" width="150" id="imgProfile"
                     class="m-x-auto rounded-circle" alt="avatar">
            </a>
            <h4 class="mt-4" th:text="${user.fullName}"></h4>

            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Age: </strong>
                    <th:block th:text="${user.age}"/>
                    ans
                </li>
                <li class="list-group-item"><strong>Département: </strong>
                    <th:block th:text="${student != null ? student.department : professor.department}"/>
                </li>
                <li class="list-group-item"><strong>Année de début: </strong>
                    <th:block th:text="${student != null ? student.startYear : professor.startYear}"/>
                </li>
                <th:block th:if="${professor != null}">
                    <li class="list-group-item"><strong>Année de fin:</strong>
                        <th:block th:text="${professor.finishYear != null ? student.finishYear :
                    'En cours'}"/>
                    </li>
                </th:block>
                <th:block th:if="${student != null}">
                    <li class="list-group-item"><strong>Année de fin:</strong>
                        <th:block th:text="${student.finishYear != null ? student.finishYear :
                    'En cours'}"/>
                    </li>
                </th:block>
            </ul>

        </div>
        <!-- End picture section -->

        <!-- Profile infos section -->
        <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10 ml-auto mr-auto">


            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ml-auto mr-auto"
                 th:insert="~{/layouts/messages :: messages}"></div>

            <ul class="nav nav-tabs nav-pills with-arrow lined flex-column flex-sm-row text-center" id="myTab"
                role="tablist">
                <li class="nav-item flex-sm-fill">
                    <a class="nav-link text-uppercase"
                       th:classappend="${ (param.tab == null || !#strings.equalsIgnoreCase(param.tab, 'profile')) && profileTab == null ? 'active' : '' }"
                       id="home-tab" data-toggle="tab" href="#home" role="tab"
                       aria-controls="home" aria-selected="true"><i class="far fa-compass"></i> Activités</a>
                </li>
                <li class="nav-item flex-sm-fill">
                    <a class="nav-link text-uppercase"
                       th:classappend="${ (param.tab != null && #strings.equalsIgnoreCase(param.tab, 'profile')) || profileTab != null ? 'active' : '' }"
                       id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                       aria-controls="profile" aria-selected="false"><i class="fas fa-id-badge"></i> Profil</a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">

                <div class="tab-pane fade"
                     th:classappend="${ ((param.tab == null || !#strings.equalsIgnoreCase(param.tab, 'profile')) || #strings.equalsIgnoreCase(param.tab, 'home')) && (profileTab == null) ? 'show active' : '' }"
                     id="home" role="tabpanel" aria-labelledby="home-tab">

                    <section>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
                                <div class="p-5 bg-white shadow rounded-lg"><img
                                        th:src="@{/images/upload.png}"
                                        alt="" width="200" class="d-block mx-auto rounded-pill">

                                    <form method="POST" th:action="@{/profile/update-picture}"
                                          enctype="multipart/form-data">

                                        <!-- User id -->
                                        <input type="hidden" name="id" th:value="${user.id}"/>

                                        <!-- Image -->
                                        <div class="custom-file overflow-hidden rounded-pill">
                                            <input id="profile-picture" type="file" name="picture"
                                                   onchange="form.submit();"
                                                   class="custom-file-input rounded-pill">
                                            <label for="profile-picture" class="custom-file-label rounded-pill">Choisir
                                                une image</label>

                                        </div>
                                    </form>
                                    <!-- End -->

                                    <th:block sec:authorize="hasRole('PROFESSOR')">
                                        <!-- Add archive only for professors -->
                                        <hr>

                                        <a th:href="@{/archives/add}"><i class="fas fa-folder-plus"></i> Ajouter un
                                            archive</a>

                                        <hr>
                                        <!-- Published Archives -->
                                        <table class="table">
                                            <thead class="thead-light">
                                            <tr align="center">
                                                <th scope="col">#</th>
                                                <th scope="col">Titre</th>
                                                <th scope="col" colspan="2">Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr align="center" th:each="archive : ${archives.content}">
                                                <th scope="row" th:text="${archive.id}">1</th>
                                                <td th:text="${archive.title}">Mark</td>
                                                <td>
                                                    <a class="btn btn-primary btn-sm"
                                                       th:href="@{'/archives/' + ${archive.id} + '/edit'}"><i
                                                            class="fas fa-edit"></i> Modifier</a>
                                                </td>
                                                <td>
                                                    <form method="POST" th:id="${'archive' + archive.id}" th:action="@{/archives/delete}">
                                                        <input type="hidden" name="id" th:value="${archive.id}"/>
                                                        <button type="button" th:onclick="'confirmArchiveDelete(' + ${archive.id} + ');'"
                                                                class="btn btn-danger btn-sm"><i
                                                                class="far fa-trash-alt"></i> Supprimer
                                                        </button>
                                                    </form>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="4" class="alert alert-warning text-center font-weight-bold"
                                                    th:if="${archives == null || archives.totalElements == 0}">
                                                    <i class="fas fa-exclamation"></i> Aucun archive n'a été trouvé!
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                        <nav aria-label="Page navigation" th:if="${archives.totalPages > 1}">
                                            <ul class="pagination justify-content-center">
                                                <li class="page-item" th:if="${archives.hasPrevious()}">
                                                    <a class="page-link" th:href="@{/profile(page=${archives.number - 1})}">&larr;Precédent</a>
                                                </li>
                                                <li class="page-item disabled" th:if="${!archives.hasPrevious()}">
                                                    <a class="page-link" href="#">&larr;Precédent</a>
                                                </li>

                                                <li class="page-item" th:if="${archives.hasNext()}">
                                                    <a class="page-link" th:href="@{/profile(page=${archives.number + 1})}">Suivant&rarr;</a>
                                                </li>
                                                <li class="page-item disabled" th:if="${!archives.hasNext()}">
                                                    <a class="page-link" href="#">Suivant&rarr;</a>
                                                </li>
                                            </ul>
                                        </nav>

                                    </th:block>

                                </div>
                            </div>
                        </div>
                    </section>

                </div>

                <div class="tab-pane fade"
                     th:classappend="${ (param.tab != null && #strings.equalsIgnoreCase(param.tab, 'profile')) || profileTab != null  ? 'show active' : '' }"
                     id="profile" role="tabpanel" aria-labelledby="profile-tab">

                    <h5 class="display-4 text-center mt-2" th:text="${user.fullName}"></h5>

                    <table class="table table-responsive-sm table-hover">
                        <thead class="thead-light ">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col" th:text="${user.id}"></th>
                            <th class="text-center">
                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                        data-target="#profile-modal">
                                    <i class="fas fa-user-edit"></i> Modifier
                                </button>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Nom d'utilisateur</th>
                            <td th:text="${user.username}" colspan="2"></td>
                        </tr>
                        <tr>
                            <th scope="row">Nom</th>
                            <td th:text="${user.lastName}" colspan="2"></td>
                        </tr>
                        <tr>
                            <th scope="row">Prénom</th>
                            <td th:text="${user.firstName}" colspan="2"></td>
                        </tr>
                        <tr>
                            <th scope="row">Email</th>
                            <td th:text="${user.email}" colspan="2"></td>
                        </tr>
                        <tr>
                            <th scope="row">Photo</th>
                            <td colspan="2">
                                <img th:src="${'/uploads/users/images/' + user.picture}" height="30" width="30"
                                     class="rounded float-left" alt="...">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Date de naissance</th>
                            <td th:text="${user.birthDate}" colspan="2"></td>
                        </tr>
                        <tr>
                            <th scope="row">Roles</th>
                            <td colspan="2">
                                <th:block th:each="role : ${user.roles}">
                                    <a href="javascript:void(0)" class="badge badge-secondary"
                                       th:text="${roles.get(role.role)}"></a>
                                </th:block>
                            </td>
                        </tr>

                        <!-- Professor display -->
                        <th:block th:if="${professor != null}">
                            <tr>
                                <th scope="row">Département</th>
                                <td th:text="${professor.department}" colspan="2"></td>
                            </tr>
                            <tr>
                                <th scope="row">Année de début</th>
                                <td th:text="${professor.startYear}" colspan="2"></td>
                            </tr>
                            <tr>
                                <th scope="row">Nombre de partcipations au archives</th>
                                <td colspan="2">
                                    <button type="button" class="btn btn-primary">
                                        Archives <span class="badge badge-light"
                                                       th:text="${professor.archives.size()}"></span>
                                    </button>
                                </td>
                            </tr>
                        </th:block>
                        <!-- End Professor display -->
                        <!-- Student display -->
                        <th:block th:if="${student != null}">
                            <tr>
                                <th scope="row">Département</th>
                                <td th:text="${student.department}" colspan="2"></td>
                            </tr>
                            <tr>
                                <th scope="row">Année de début</th>
                                <td th:text="${student.startYear}" colspan="2"></td>
                            </tr>
                            <tr>
                                <th scope="row">Année de fin</th>
                                <td th:text="${student.finishYear != null ? student.finishYear : 'En cours'}"
                                    colspan="2"></td>
                            </tr>
                            <tr>
                                <th scope="row">Niveau</th>
                                <td th:text="${student.level}" colspan="2"></td>
                            </tr>
                        </th:block>
                        <!-- End Student display -->


                        </tbody>
                    </table>


                </div>

            </div>

        </div>

    </div>


</div>

<!-- @Modals -->
<div th:replace="~{/modals/user-modal-form :: user-form}"/>


<!-- @Javascript include section -->
<div th:replace="~{/layouts/js :: javascript}"></div>


<!-- Auto open modal for error display -->
<th:block th:if="${openUserModal != null}">
    <script>
        $(document).ready(() => {
            $("#profile-modal").modal("show");
        });
    </script>

</th:block>

</body>
</html>
